<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/addresource.css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Internal JS -->
  <!-- <script defer src="/scripts/categories.js"></script> -->

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Courgette&family=Finger+Paint&family=Geologica:wght@300;400;600&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="resource-nav">
      <div class="nav-left">
        <h1>ADD RESOURCE</h1>
      </div>
      <div class="nav-right">
        <a class="user-back" onclick="window.location.href='/'">BACK</a>
      </div>
    </nav>
  </header>
  <main>
    <form method="POST" action="/addResource" id="add-resource-form">
      <input type="url" name="resource_url" placeholder="RESOURCE LINK" />
      <input type="text" name="title" placeholder="RESOURCE TITLE" />
      <input type="url" name="photo_url" placeholder="IMAGE URL" />
      <textarea name="description" placeholder="RESOURCE DESCRIPTION" rows="4"></textarea>

      <select class="resource-category" name="category_id" id ="category-select">
        <option value="" disabled selected>CHOOSE CATEGORY</option>
        <% for(const resource of resources) { %>
          <option value=<%= resource.id %>><%= resource.name %></option>
        <%}%>
      </select>
      <button class="resource-add-btn" type="submit">ADD RESOURCE</button>
    </form>
  </main>
  </body>
  </html>
