<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee&family=Courgette&family=Finger+Paint&family=Geologica:wght@300;400;600&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="resource-nav">
      <div class="nav-left">
        <h1>RESOURCE WALL</h1>
      </div>
      <div class="nav-right">
        <!-- <span class="user-login">LOGIN</span>
        <span class="user-register">REGISTER</span> -->
        <span class="user-resource">MY RESOURCE</span>
        <span class="add-resource">ADD RESOURCE</span>
      </div>
    </nav>
  </header>
  <main>
    <section class="category-search-section">
      <div class="category-part">
        <span class="category-title">English</span>
        <span class="category-title">Internet</span>
        <span class="category-title">Math</span>
        <span class="category-title">More >></span>
      </div>
      <div class="search-part">
        <input class="search-text" placeholder="resource title" type="text" />
        <span class="search-btn">SEARCH</span>
      </div>
    </section>
    <div class="resource-container">
      <div class="resource-item">
        <img class="resource-item-img" src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.668xw:1.00xh;0.119xw,0&resize=1200:*">
        <h3 class="resource-title">resource title</h3>
        <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="https://randomuser.me/api/portraits/women/79.jpg">
              <span class="resource-user-name">Alex</span>
            </div>
            <div class="resource-created">1 day ago</div>
          </div>
          <div class="resource-item-info">
            <div class="resource-item-heart"><i class="fa-solid fa-heart"></i><span>2</span></div>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span>5</span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span>4.8</span></div>
          </div>
        </div>
      </div>
      <div class="resource-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.668xw:1.00xh;0.119xw,0&resize=1200:*">
        <h3 class="resource-title">resource title</h3>
        <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis impedit, magnam, inventore dignissimos officiis illum tenetur ipsam rem officia praesentium omnis dicta quos distinctio saepe ipsa perspiciatis sed amet.</p>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="https://randomuser.me/api/portraits/women/79.jpg">
              <span class="resource-user-name">Alex</span>
            </div>
            <div class="resource-created">1 day ago</div>
          </div>
          <div class="resource-item-info">
            <div class="resource-item-heart"><i class="fa-solid fa-heart"></i><span>2</span></div>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span>5</span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span>4.8</span></div>
          </div>
        </div>
      </div>
      <div class="resource-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.668xw:1.00xh;0.119xw,0&resize=1200:*">
        <h3 class="resource-title">resource title</h3>
        <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis impedit, magnam, inventore dignissimos officiis illum.</p>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="https://randomuser.me/api/portraits/women/79.jpg">
              <span class="resource-user-name">Alex</span>
            </div>
            <div class="resource-created">1 day ago</div>
          </div>
          <div class="resource-item-info">
            <div class="resource-item-heart"><i class="fa-solid fa-heart"></i><span>2</span></div>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span>5</span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span>4.8</span></div>
          </div>
        </div>
      </div>
      <div class="resource-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.668xw:1.00xh;0.119xw,0&resize=1200:*">
        <h3 class="resource-title">resource title</h3>
        <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis impedit.</p>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="https://randomuser.me/api/portraits/women/79.jpg">
              <span class="resource-user-name">Alex</span>
            </div>
            <div class="resource-created">1 day ago</div>
          </div>
          <div class="resource-item-info">
            <div class="resource-item-heart"><i class="fa-solid fa-heart"></i><span>2</span></div>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span>5</span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span>4.8</span></div>
          </div>
        </div>
      </div>
      <div class="resource-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.668xw:1.00xh;0.119xw,0&resize=1200:*">
        <h3 class="resource-title">resource title</h3>
        <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis impedit, magnam, inventore dignissimos officiis illum tenetur ipsam rem officia.</p>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="https://randomuser.me/api/portraits/women/79.jpg">
              <span class="resource-user-name">Alex</span>
            </div>
            <div class="resource-created">1 day ago</div>
          </div>
          <div class="resource-item-info">
            <div class="resource-item-heart"><i class="fa-solid fa-heart"></i><span>2</span></div>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span>5</span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span>4.8</span></div>
          </div>
        </div>
      </div>
      <div class="resource-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.668xw:1.00xh;0.119xw,0&resize=1200:*">
        <h3 class="resource-title">resource title</h3>
        <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis impedit, magnam, inventore dignissimos officiis.</p>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="https://randomuser.me/api/portraits/women/79.jpg">
              <span class="resource-user-name">Alex</span>
            </div>
            <div class="resource-created">1 day ago</div>
          </div>
          <div class="resource-item-info">
            <div class="resource-item-heart"><i class="fa-solid fa-heart"></i><span>2</span></div>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span>5</span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span>4.8</span></div>
          </div>
        </div>
      </div>
      <div class="resource-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/beautiful-smooth-haired-red-cat-lies-on-the-sofa-royalty-free-image-1678488026.jpg?crop=0.668xw:1.00xh;0.119xw,0&resize=1200:*">
        <h3 class="resource-title">resource title</h3>
        <p class="resource-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="resource-item-footer">
          <div class="resource-item-user">
            <div class="resource-item-user-info">
              <img class="resource-user-avatar" src="https://randomuser.me/api/portraits/women/79.jpg">
              <span class="resource-user-name">Alex</span>
            </div>
            <div class="resource-created">1 day ago</div>
          </div>
          <div class="resource-item-info">
            <div class="resource-item-heart"><i class="fa-solid fa-heart"></i><span>2</span></div>
            <div class="resource-item-comment"><i class="fa-regular fa-comment"></i><span>5</span></div>
            <div class="resource-item-rating"><i class="fa-solid fa-star"></i><span>4.8</span></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>
