$resource-yellow: #ffd43b;
#add-resource-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 40px;
  height: 475px;
  font-family: Geologica;
  font-weight: 600;
  box-shadow: 5px 6px #86badf;
  background-color: #a5d8fd;
  text-align-last: center;
  input,
  textarea,
  .resource-category{
      padding: 0 12px;
      height: auto;
      width: 600px;
      position: relative;
      left: 0;
      outline: none;
      border: 2px solid #cdcdcd;
      border-bottom-width: 5px;
      transition: all .5s ease;
      background-color: white;
      font-size: 16px;
      border-radius: 8px;
  }
  input:hover,
  textarea:hover,
  .resource-category:hover{
    border-bottom-color: #ffd43b;
  }

  input,
  .resource-category{
    height: 48px;
  }

  .resource-category{
    color: gray;
    padding: 12px;
  }

  textarea{
    padding: 12px;
  }

  .resource-add-btn{
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    height: 45px;
    padding: 12px;
    color: #fff;
    font-weight: 800;
    background-color: $resource-yellow;
    border-radius: 6px;
    transition: all 0.2s;

    &:hover{
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}
