$resource-yellow: #ffd43b;
$nav-left-title-color: #fff;
$resource-blue: #339af0;
$created-time-color: #7e7a7a;
$resource-item-heart: #f03e3e;
$resource-background-color: #d0ebff;

body {
   background: $resource-background-color;
   padding-top: 120px;
}

header {
  overflow: hidden;;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}


.resource-nav{
  display: flex;
  justify-content: space-between;
  background-color: $resource-blue;
  align-items: center;

  h1{
    margin: 20px 40px;
    font-family: Finger Paint;
    color: $resource-yellow;
    font-size: 48px;
  }

  .nav-right{
    display: flex;
    gap: 50px;
    padding: 0 40px;
    font-family: Geologica;
    font-weight: 600;
    font-size: 28px;
    font-family: Finger Paint;

    a{
      transition: all 0.3s;
      color: #fff;
      text-decoration: none;
    }

    .user-login{
      transition: all 0.3s;
      color: #fff;
      text-decoration: none;
      background-color: transparent;
      border: none;
    }


    :hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}

main{
  padding: 20px 40px;
}

.resource-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;

  & .resource-item-link{
    text-decoration: none;
    color: black;
  }
}

.resource-item{
  padding: 30px;
  background-color: #fbfafa;
  border-radius: 6px;
  transition: all 0.3s;

  .resource-title{
    font-family: Courgette;
    word-spacing: 2px;
  }

  .resource-desc{
    font-family: Geologica;
    font-weight: 300;
  }

  img{
    width: 100%;
  }

}

.resource-item:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.resource-item-user{
  font-family: Geologica;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .resource-item-user-info{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .resource-user-avatar{
    width: 38px;
    height: 38px;
    border-radius: 4px;
  }

  & .resource-created{
    display:flex;
    color: $created-time-color;
    text-align: right;
  }
}

.resource-item-info{
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;

  div{
    display: flex;
    gap: 6px;

    transition: all 0.2s;

    .is-liked{
      color: $resource-item-heart;
    }

    .fa-heart{
      color: $resource-item-heart;
    }

    & .fa-heart:hover{
        transform: scale(1.1);
    }

    .fa-comment{
      color: $resource-yellow;
    }

    .fa-star{
      color: $resource-blue;
    }
  }
}

.category-search-section{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  & .category-part{
    display: flex;
    gap: 40px;
    font-family: cursive;
    font-weight: 600;
    font-size: 22px;
    color: $resource-blue;

    & .category-active{
      color: $resource-yellow;
      font-size: 30px;
    }

    span{
      transition: all 0.2s;
    }

    :hover{
      color: $resource-yellow;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  & .search-part{
    display: flex;
    align-items: center;
    gap: 20px;

    & .search-btn{
      font-family: cursive;
      font-weight: 700;
      font-size: 22px;
      background-color: transparent;
      border: none;
      color: $resource-blue;

      &:hover{
        color: $resource-yellow;
        cursor: pointer;
      }
    }

    & #search-text{
      padding: 0 20px;
      height: 36px;
      width: 300px;
      position: relative;
      left: 0;
      outline: none;
      border: 1px solid #cdcdcd;
      border-color: rgba(0, 0, 0, .15);
      background-color: white;
      font-size: 16px;
      font-weight: 700;
      font-family: Geologica;
      border-radius: 20px;
    }
  }
}

.hidden {
  display:none;
}

a {
  text-decoration: none;
  color: #339af0;
}

.resource-main-title {
  color: $resource-yellow;
}

