$resource-yellow: #ffd43b;
$resource-dark-blue: #306b9c;

.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-family: Geologica;
  font-weight: 600;
  box-shadow: 5px 6px #86badf;
  background-color: #a5d8fd;
  height: fit-content;
  text-align-last: center;
  & .profile-user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .profile-username{
      font-size: 35px;
      color: $resource-dark-blue;
      transition: all .5s ease;
    }
    & .profile-email{
      font-size: 22px;
      margin-top: 10px;
      opacity: .6;
      color: $resource-dark-blue;
      transition: all .3s ease;
    }
    & .profile-username:hover, .profile-email:hover{
      color: $resource-yellow;
      opacity: 1;
    }
  }

  & .profile-avatar{
    height: 200px;
    width: 200px;
    margin: 30px auto 0 auto;
    border-radius: 50%;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
  }
  & .profile-avatar:hover{
    cursor: pointer;
    transform: scale(1.05);
  }


  & #update-profile-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Geologica;
    gap: 15px;

    & .profile-desc,
      .profile-avatar-change{

      height: auto;
      width: 400px;
      position: relative;
      left: 0;
      outline: none;
      border: 2px solid #cdcdcd;
      border-bottom-width: 5px;
      transition: all .5s ease;
      background-color: white;
      font-size: 16px;
      padding: 8px;
      border-radius: 8px;
    }

    & .profile-desc:hover, .profile-avatar-change:hover {
      border-bottom-color: #ffd43b;
    }

    & .profile-btn{
      margin-top: 20px;
      margin-bottom: 20px;
      border: none;
      height: 45px;
      padding: 12px;
      color: #fff;
      font-weight: 800;
      background-color: $resource-yellow;
      border-radius: 6px;
      transition: all 0.2s;

      &:hover{
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
