$resource-item-heart: #f03e3e;
$resource-yellow: #ffd43b;
.detail-container{
    max-width: 800px;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    margin: 0 auto;

  & .resource-info{
    margin-bottom: 20px;
    h1{
      font-family: Secular One;
    }
    & > * {
      margin-bottom: 20px;
    }

    & .resource-item-img{
      text-align: center;
    }

    & .resource-item-heart{
      display: flex;
      align-items: center;
      gap: 10px;
      & .fa-heart{
        color: $resource-item-heart;

        &:hover{
          transform: scale(1.1);
        }
      }
    }

    & .resource-desc{
      font-family: Geologica;
    }


    & .resource-user-info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      font-family: Finger Paint;

      & .resource-user-info-left{
        display: flex;
        align-items: center;
        gap: 10px;
      }


      & .resource-user-avatar{
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }
    }
  }

  & .star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:24px;
    justify-content:flex-start;
    // padding:4px;
    text-align:center;
    width:100%;
  }

  .star-rating input {
    display:none;
  }

  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }

  .star-rating :checked ~ label {
    color:#f90;
  }

  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }


  & .resource-comments{

    article{
      margin-bottom: 40px;
      & > * {
        margin-bottom: 15px;
      }

      & .resource-comment-item{
        font-family: Geologica;
      }
    }


    & .resource-comments-user-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-family: Courgette;

      & .resource-comments-user-info-left{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;

        & .resource-comments-user-avatar{
          width: 38px;
          height: 38px;
          border-radius: 50%;
        }
      }
    }
  }

  & .resource-add-comment{

    & #comments-form{
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      & .resource-comments{
        height: auto;
        width: 800px;
        position: relative;
        left: 0;
        outline: none;
        border: 2px solid #cdcdcd;
        border-color: rgba(0, 0, 0, .15);
        background-color: white;
        font-size: 16px;
        padding: 8px;
      }

      & .add-btn{
        margin-top: 20px;
        border: none;
        height: 45px;
        padding: 12px;
        color: #fff;
        font-weight: 800;
        background-color: $resource-yellow;
        border-radius: 6px;
        transition: all 0.2s;
        align-self: flex-end;

        &:hover{
          cursor: pointer;
          transform: scale(1.05);
        }

    }

  }
}
}
